.navbar {
  padding: 10px;
}
.navbar a {
  display: inline-block;
  font-family: optima;
  text-decoration: none; text-transform: uppercase;
  padding: 10px;
  margin-right: 4vw; margin-left: 1vw;
}
.navbar button {
  text-decoration: none; text-transform: uppercase;
  font-family: optima; font-size: 110%;
  margin-right: 10px;
}
#homenav {
  background-color: #1c2334;
}
#homenav a {
  color: white;
}
#homenav a:hover {
  color: #ebe537;
}
#homenav button {
  background-color: #ebe537;
  color: black;
}
#homenav button:hover {
  background-color: white;
}
#portfolionav {
  background-color: #ebe8e2;
}
#portfolionav a {
  color: black;
  font-size: 110%;
}
#portfolionav a:hover {
  color: white;
  background-color: black;
}
.row {
  margin-left: 10.5vw; margin-right: 10.5vw;
  margin-top: 30px; margin-bottom: 50px;
  background-color: black;
  padding-top: 10px; padding-bottom: 10px;
}
#column img {
  width: 33%; height: auto;
  padding: 5px;
  margin-left: auto; margin-right: auto;
}
#footer {
  background-color: #070c04;
  text-align: left;
  padding: 10px 20px 100px 20px;
}
#footer p {
  color: #4d66fc;
  font-family: optima; font-size: 80%;
  padding: -10px;
}
