.topnav {
  /* text-align: left; */
  padding: 10px;
}
.topnav a {
  display: inline-block;
  font-family: optima;
  text-decoration: none; text-transform: uppercase;
  margin-left: 2vw; margin-right: 2vw;
  padding: 10px;
}
#homenav {
  background-color: #1c2334;
}
#homenav a {
  color: #ebe8e2;
}
#homenav a:hover {
  color: #add8e6;
  text-shadow: 1px 1px #000000;
}
#homenav button {
  background-color: #add8e6;
  color: black;
  /* text-align: right; */
  font-family: optima; font-size: 120%;
  text-decoration: none; text-transform: uppercase;
}
#homenav button:hover {
  background-color: #ebe8e2;
}
#portfolionav {
    background-color: #ebe8e2;
}
#portfolionav a {
  color: #1c2334;
}
#portfolionav a:hover {
  color: #9F8C76;
  text-shadow: 1px 1px #ffffff;
}

#portfolionav button {
  background-color: #9F8C76;
  color: white;
  font-family: optima; font-size: 120%;
  text-decoration: none; text-transform: uppercase;
  border-width: 0px;
}

#portfolionav button:hover {
  background-color: #1c2334;
}

#homephotos img {
  width: 100%;
}
.row {
  margin-left: 10.5vw; margin-right: 10.5vw;
  margin-top: 60px; margin-bottom: 80px;
}
#column img {
  width: 25vw; height: auto;
  padding: 0.25vw;
}
#footer {
  background-color: #070c04;
  text-align: left;
  padding: 10px 20px 100px 20px;
}
#footer p {
  color: #4d66fc;
  font-family: optima; font-size: 80%;
  padding: -10px;
}
