.navbar {
  padding: 10px;
}
.navbar a {
  display: inline-block;
  font-family: optima;
  text-decoration: none; text-transform: uppercase;
  padding: 10px;
  margin-right: 4vw; margin-left: 1vw;
}
.navbar button {
  text-decoration: none; text-transform: uppercase;
  font-family: optima; font-size: 110%;
  margin-right: 10px;
}
#homenav {
  background-color: #1c2334;
}
#homenav a {
  color: white;
}
#homenav a:hover {
  color: #ebe537;
}
#homenav button {
  background-color: #ebe537;
  color: black;
}
#homenav button:hover {
  background-color: white;
}
#portfolionav {
  background-color: #ebe8e2;
}
#portfolionav a {
  color: black;
}
#portfolionav a:hover {
  color: white;
  background-color: #7f7e4b;
  border-radius: 5px;
}
#portfolionav button {
  background-color: black;
  color: white;
}
#portfolionav button:hover {
  background-color: #7f7e4b;
}
#aboutmenav {
  background-color: #ffedf5;
}
#aboutmenav a {
  color: black;
}
#aboutmenav a:hover {
  color: #9c687c;
}
#aboutmenav button {
  background-color: #9c687c;
  color: white;
}
#aboutmenav button:hover {
  background-color: black;
}
#contactnav {
  background-color: #070c04;
}
#contactnav a {
  color: white;
}
#contactnav a:hover {
  color: #9e9e9e;
}
#contactnav button {
  background-color: #9e9e9e;
  color: black;
}
#contactnav button:hover {
  background-color: white;
}
#photorow {
  margin-left: 10.5vw; margin-right: 10.5vw;
  margin-top: 30px; margin-bottom: 100px;
  background-color: black;
  padding-top: 10px; padding-bottom: 10px;
}
#column img {
  width: 33%; height: auto;
  padding: 5px;
  margin-left: auto; margin-right: auto;
}
#portfoliobody {
  background-color: #ebe8e2;
}
#footer {
  background-color: #070c04;
  text-align: center;
  padding: 70px;
}
#footer h1, h2, h3 {
  color: white;
}
#footer h1 {
  font-family: optima;
  text-transform: uppercase;
  font-size: 130%;
}
#footer h2, h3 {
  font-size: 90%;
}
#footer h2 {
  font-family: didot;
  font-style: italic;
}
#footer h3 {
  font-family: optima;
}
.figure-caption {
  text-align: center;
  font-family: didot; font-style: italic;
}
#caption1 {
  color: white; font-size: 200%;
  margin-top: -310px;
  padding-bottom: 110px;
}
#caption2 {
  color: black; font-size: 150%;
  margin-top: -850px;
  padding-bottom: 720px;
}
#aboutme {
  background-color: #ffedf5;
  padding: 30px 200px 50px 200px;
}
#aboutme p {
  color: black;
  font-family: optima; font-size: 110%;
}
#contact {
  background-color: #1f1f1f;
  color: white;
}
#formcolumn {
  float: left; width: 50%;
  padding: 120px 200px 150px 30px;
}
#contactcolumn {
  float: left; width: 50%;
  padding: 120px 30px 150px 180px;
}
#contactcolumn h1 {
  font-family: optima; font-size: 250%;
  text-transform: uppercase;
}
#contactcolumn h2 {
  font-family: didot; font-size: 120%; font-style: italic;
}
#contactcolumn p {
  font-family: optima;
}
.form-group {
  padding-bottom: 30px;
}
.form-group input, textarea {
  width: 100%;
  padding: 8px;
}
.form-group label {
  font-family: optima;
  padding: 5px;
}
.form-group button {
  text-decoration: none; text-transform: uppercase;
  font-family: optima; font-size: 110%;
  background-color: black; color: white;
  padding: 10px 20px;
}
.form-group button:hover {
  background-color: #9e9e9e; color: black;
}
